<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "application", :"data-turbo-track" => "reload" %>

    <%= stylesheet_link_tag :base, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  </head>

  <body>
    <main class="page">
      <div class="page-content">
        <header>
          <a class="undecorated" aria-label="All posts from Dan Bradbury" href="/">
            <img src="https://avatars.githubusercontent.com/u/2555073?v=4" class="avatar">
            <p class="text--uppercase">Daniel Bradbury</p>
          </a>
          <p>Software engineer based in Sacramento, CA</p>
        </header>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
